* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
  color: white;
}

#container {
  width: 588px;
  height: 712px;
  margin: auto;
  border: 1px solid red;
}

#profile {
  text-align: center;
  padding-top: 52px;
}

#profile img {
  width: 112px;
  margin-top: 24px;
}

ul {
  border:1px solid red;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
}

ul li a {
  border: 1px solid yellow;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-size: 24px;
}

#social-links a {
 padding: 24px; 
}