* {
  margin: 0;
  padding 0;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
}

#container {
  width: 588px;
  height: 712px;
  margin: auto;
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  padding-top: 56px;
}

#profile p {
  font-weight: 500;
}

/* links */

#links {
  margin-top: 80px;
  width: 588px;
  height: 320px;
}

#links * {  
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#links ul li a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  padding: 15px;
  
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 9999px;

}

/* buttons */
