* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-hover-color: rgba(255, 255, 255, 0.01);
  --highlight-color: rgba(255, 255, 255, 0.3);
  --social-hover-color: rgba(255, 255, 255, 0.3);
  --background-bg: url("./assets/bg-mobile.jpg");
}

.light
{
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-hover-color: rgba(0, 0, 0, 0.01);
  --highlight-color: rgba(0, 0, 0, 0.3);
  --social-hover-color: rgba(0, 0, 0, 0.3);
  --background-bg: url("./assets/bg-desktop-light.jpg");
}

body {
  background: var(--background-bg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}



#container {
  width: 588px;
  height: 712px;
  margin: auto;
}

#profile {
  text-align: center;
  padding: 24px;
  margin-top: 40px;
}

#profile img {
  height: 112px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
}

ul li a {
  display: flex;
  height: 52px;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  background-color: var(--surface-color);
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  transition: background 0.2s;
}

ul li a:hover {
  background-color: var(--surface-hover-color);
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 16px;
  border-radius: 50%;
  transition: background 1s;
}

#social-links a:hover {
  background-color: var(--social-hover-color);
}
